@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);

body {
  font-family: "Inter", sans-serif;
}

#testimonials {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../public/images/pattern-bg.svg") no-repeat right;

  .container {
    max-width: 1150px;
    margin: auto;
    padding: 0 2rem;
  }

  .img-curve {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;

    .testimonial-review {
      margin-right: -100px;
      z-index: 100;
      position: relative;
      .description {
        font-size: 32px;
        line-height: 1.3;
        font-weight: 200;
        color: $dark-blue;
      }

      .person-info {
        margin-top: 20px;
        p {
          font-size: 18px;
          font-weight: 500;

          span {
            font-weight: 200;
            color: $grayish-blue;
            margin-left: 5px;
          }
        }
      }
      .img-quotes {
        position: absolute;
        top: -60px;
        left: 100px;
      }
    }
    .person {
      position: relative;
      .img-hero {
        box-shadow: 10px 12px 30px rgba(0, 0, 0, 0.3);
      }
      .buttons {
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        min-width: 100px;
        position: absolute;
        bottom: -14px;
        left: 50px;
        .btn {
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #testimonials {
    background: url("images/pattern-bg.svg") no-repeat right 250px;
    background-size: 300px;
    .box {
      flex-direction: column-reverse;
      .testimonial-review {
        margin-right: 0;
        .description {
          font-size: 18px;
          text-align: center;
        }
        .person-info {
          text-align: center;
          span {
            display: block;
            margin-top: 5px;
            margin-left: 0;
          }
        }
      }
      .person {
        margin-bottom: 4rem;
        .img-hero {
          max-width: 300px;
        }
        .buttons {
          position: absolute;
          bottom: -14px;
          left: 100px;
        }
      }
    }
  }
}
